SDT/schema3.0/etc/dal.rnc


namespace local = ""
default namespace xsl = "http://homegatewayinitiative.org/xml/dal/3.0"
namespace xi = "http://www.w3.org/2001/XInclude"

version = "1.0"

include "domain.rnc"

xinclude = element xi:include {
    attribute href { xsd:anyURI },
    attribute parse { text }
  }

Imports = element Imports { xinclude* }?
